:root {
  --main-color: #2f303a;
  --important-text-color: #212121;
  --common-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --important-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-main: #e5e5e5;
  --background-color-secondary: #f5f4fa;
  --grid-item: 4;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--common-text-color);
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.grid-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
}

/* header styles */

header {
  background-color: var(--important-color);
}
.header-main {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.studio-up {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-link {
  text-decoration: none;
  margin-right: 93px;
}
.header-contacts-set {
  display: flex;
  margin-left: auto;
}
.header-contacts {
  display: flex;
  color: var(--common-text-color);
  text-decoration: none;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-contacts + .header-contacts {
  margin-left: 30px;
}
.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}

.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--important-text-color);
  text-decoration: none;
}
.navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.navigation-links .current {
  color: var(--accent-color);
}
/* main styles */
/* Hero Section styles */

.hero-section {
  background-color: var(--main-color);
  color: var(--important-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  text-align: center;
}
.overlay {
  height: 600px;
  min-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero_img.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 40px;
}

.main-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--important-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid var(--accent-color);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 200px;
}
/* Advantages section styles */

.advantages-section,
.work-section {
  background-color: var(--important-color);
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--important-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-list-card {
  display: block;
  width: 270px;
}
.advantages-list-item::before {
  content: '';
  display: block;

  height: 120px;
  background-color: #f5f4fa;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  content: '';
  background-image: url(../images/antenna_1.svg);
  background-size: 70px;
  margin-bottom: 30px;
}
.icon-clock::before {
  content: '';
  background-image: url(../images/clock_1.svg);
  background-size: 70px;
  margin-bottom: 30px;
}
.icon-diagram::before {
  content: '';
  background-image: url(../images/diagram_1.svg);
  background-size: 70px;
  margin-bottom: 30px;
}
.icon-astronaut::before {
  content: '';
  background-image: url(../images/astronaut_1.svg);
  background-size: 70px;
  margin-bottom: 30px;
}
.advantages-paragraph {
  display: block;
}
/* Work section styles*/
.work-section-items {
  --grid-item: 3;
  margin-bottom: 94px;
}
.work-section-header,
.team-section-header,
.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
/* Team section styles*/

.team-section {
  background-color: var(--background-color-secondary);
  padding-top: 94px;
}
.team-section-items {
  --grid-item: 4;
  margin-bottom: 94px;
}
.team-list-card {
  background-color: var(--important-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammate-photo {
  margin-bottom: 30px;
}
.teammates-names {
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.teammates-position {
  margin-bottom: 16px;
}
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--common-text-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
  fill: var(--important-color);
}
.social-icons-set + .social-icons-set {
  margin-left: 10px;
  align-items: center;
}
.social-icons-list {
  justify-content: center;
}
/* Our clients */

.our-clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--common-text-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-items {
  --grid-item: 6;
}

/* Portfolio page styles */

.simple-button {
  display: inline-block;
  background-color: var(--background-color-secondary);
  color: var(--important-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 75px;
  padding: 6px 22px;
}

.simple-button:hover,
.simple-button:focus {
  background-color: var(--accent-color);
  color: var(--important-color);
  border: 1px solid var(--accent-color);
}

.product-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-description {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* footer styles */

footer {
  background-color: var(--main-color);
}
.studio-down {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--important-color);
}

.actual-address {
  color: var(--important-color);
}

address {
  font-style: normal;
}

.footer-contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.all-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.join-us {
  text-transform: uppercase;
  color: var(--important-color);
  font-weight: 700;
}
